@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #000;
  color: white;
}

input {
  background: #1f2933;
  border: 1px solid #2a2a2a;
  color: white;
  padding: 12px;
  border-radius: 10px;
  outline: none;
  width: 100%;
}

input:focus {
  border-color: #ef4444;
}
